<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h3 style="display: inline;">Profit by year</h3>
    </div>
    <div class="panel-body">
        <div class="col-xs-12">
            <div id="annual-profit"></div>
        </div>
    </div>
</div>