// Place all the styles related to the Portfolios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.inline-text {
    display: inline;
}

path {
	fill: none;
    stroke: #CCC;
    stroke-width: 1px;
}

.chartTooltip {
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 white;
    border: 0 none;
    border-radius: 8px 8px 8px 8px;
    box-shadow: -3px 3px 15px #888888;
    color: #05729b;
    font: 12px sans-serif;
    padding: 5px;
    text-align: center;
}